/* Reset some browser defaults */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure the root HTML elements take up the full viewport height */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for the main app container */
.App {
  min-height: 100%; /* This will now take up the full viewport height */
  background-color: #282c34;
  color: white;

  /* Use Flexbox to center all content */
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center content */
  justify-content: center; /* Vertically center content */
  text-align: center;
}